/* font styles */
.inter-logo{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}


.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */

.color-1{
    color: #4E47FF;
}

.color-2{
    color: #252432;
}


.btn-primary{
    font-size: 16px;
    font-weight: bold;
    height: 48px;
    width: 132px;
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
}

/* navigation section styles */
.navigation{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}

.navigation a{
    text-decoration: none;
}

.logo{
    font-size: 34px;
}

/* banner-section styles */

.banner{
    text-align: center;
}

.banner-title{
    font-size: 65px;
    max-width: 905px;
    margin: 0 auto;
}

.banner-button{
    width: 174px;
    margin-top: 37px;
}
